html, body {
  height: 100%;
  margin: 0;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("backpic1.jpg");
  background-size: cover;
  animation: background 15s infinite;
}

#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 33%;
  padding: 0 20%;
}

#menu a {
  text-decoration: none;
}

.button {
  border: 3px solid rgba(211, 211, 211, 0.5);
  background-color: rgba(192, 192, 192, 0.5);
  padding: 10px;
  text-align: center;
  font-size: 2em;
  color: white;
  text-shadow: 1px 1px 2px black;
  transition: background-color 0.5s;
}

.button:hover {
  background-color: rgba(128, 128, 128, 0.5);
}

@media (max-width: 600px) {
  #menu {
    padding: 0 10%;
    height: 40%;
  }

  .button {
    font-size: 1.5em;
  }
}
